.spinner {
  animation-name: spin;
  animation-duration: .5s;
  animation-iteration-count: 10;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}